<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/head :: head(${pageTitle}, ${pageDescription})}">
    <!-- 추가적으로 페이지별 head 콘텐츠를 삽입할 자리 -->
    <div layout:insert="~{::headContent}"></div>
</head>
<body>
<!-- 공통 헤더 -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- 본문 콘텐츠 영역 -->
<div class="container" layout:fragment="content">
    <!-- 개별 페이지의 콘텐츠가 이 영역에 삽입됩니다. -->
</div>

<!-- 공통 푸터 -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
